<template>
    <div class="colblock_body">
        <div class="colblock_header">
            <h2>
                <slot></slot>
            </h2>
        </div>
        <v-chart
            :options="BarGraph"
            :init-options="initOptions"
            autoresize
        />
    </div>
</template>

<script>
  import qs from 'qs'
  import ECharts from 'vue-echarts'
  import 'echarts/lib/chart/bar'
  import 'echarts/lib/component/tooltip'
  import 'echarts/lib/chart/line'
  import 'echarts/lib/component/polar'
  import 'echarts-gl'
  import 'zrender/lib/svg/svg';
  export default {
    components: {
      'v-chart': ECharts
    },
    mounted(){
        this.chartsBar()
        // this.DataSelect()
    },
    // computed:{
    //   ANALYSIS_RECEIVED_REQUESTS(){
    //     return this.$store.getters['statistics/ANALYSIS_RECEIVED_REQUESTS']
    //   }
    // },
    watch: {
    //   ANALYSIS_RECEIVED_REQUESTS(){
    //     this.chartsBar()
    //   },
      connected: {
        handler(value) {
          ECharts[value ? 'connect' : 'disconnect']('radiance')
        },
        immediate: true
      },
      'initOptions.renderer'(value) {
        this.options.renderer = value === 'svg' ? value : undefined;
        let query = qs.stringify(this.options);
        query = query ? ('?' + query) : '';
        history.pushState({}, document.title, `${location.origin}${location.pathname}${query}${location.hash}`)
      }
    },
    methods: {
        toggleRenderer() {
            if (this.initOptions.renderer === 'canvas') {
            this.initOptions.renderer = 'svg'
            } else {
            this.initOptions.renderer = 'canvas'
            }
        },
        // async DataSelect(){
        //     if(this.$store.getters['statistics/ANALYSIS_RECEIVED_REQUESTS'].length==0){
        //         await  this.$store.dispatch('statistics/fetch', this.$store.getters['statistics/STATISTICS_URL'][4])
        //     }
        // },
        chartsBar(){
            let Series=[], NameGrup=[], legendData=[]
            let grafData = this.dataSet//this.$store.getters['statistics/ANALYSIS_RECEIVED_REQUESTS']
            let i = 0, j = 0
            for(let item in grafData.legend){
                if(grafData.legend[item].type=='line'){
                    Series.push({
                            name: grafData.legend[item].name,
                            type: 'line',
                            data: grafData.value[item],
                            smooth: true,
                            symbol: 'circle',
                            symbolSize : 10,
                            label: {  
                                normal: {
                                show: true,
                                position: 'top',//inside
                                backgroundColor: '#ffffff',
                                color: "#101B21" ,
                                fontStyle: 'normal' ,
                                fontWeight: 'bold' ,
                                fontFamily: 'Segoe UI' ,
                                fontSize: 12 ,
                                lineHeight: 18,
                                padding: [1,5]
                                }
                            },
                            lineStyle: {
                                width: 3,
                            },
                            color: this.ColorLine[i]
                        })
                        legendData.push({
                            name: grafData.legend[item].name,
                            icon: 'path://M37.059,16H26H16H4.941C2.224,16,0,18.282,0,21s2.224,5,4.941,5H16h10h11.059C39.776,26,42,23.718,42,21  S39.776,16,37.059,16z',
                        // textStyle:{ borderWidth: 1, borderColor: '#000000', textBorderColor : 'red', textBorderWidth:3},
                        });
                        i++
                    }
                    else if(grafData.legend[item].type=='bar'){
                        Series.push({
                            name: grafData.legend[item].name,
                            type: 'bar',
                            // stack: 'one',
                            seriesLayoutBy: 'row',
                            data: grafData.value[item],
                            barMaxWidth: 23,
                            label: {  
                                normal: {
                                show: true,
                                position: 'inside',
                                color: "#101B21" ,
                                fontStyle: 'normal' ,
                                fontWeight: 'bold' ,
                                fontFamily: 'Segoe UI' ,
                                fontSize: 12 ,
                                lineHeight: 18,
                                }
                            },
                            color: this.ColorBar[j],
                        })
                        legendData.push({
                            name: grafData.legend[item].name,
                            icon: 'circle'
                        });
                        j++
                    }
            }
            legendData.sort(prev => {
                if ( prev.icon == "circle" ) return 1;
                if ( prev.icon != "circle" ) return -1;
            });

            this.BarGraph.legend.data = legendData
            this.BarGraph.xAxis.data = grafData.date
            this.BarGraph.series = Series 
        }
    },
    data() {
        let options = qs.parse(location.search, {ignoreQueryPrefix: true});        
        return {
            dataSet: 
                {
                    date:[
                        '01.06.2020',
                        '02.06.2020',
                        '03.06.2020',
                        '04.06.2020',
                        '05.06.2020',
                        '06.06.2020',
                        '07.06.2020',
                        '08.06.2020',
                        '09.06.2020',
                        '10.06.2020',
                        '11.06.2020',
                        '12.06.2020',
                        '13.06.2020',
                        '14.06.2020',
                        '15.06.2020',
                        '16.06.2020',
                        '17.06.2020',
                        '18.06.2020',
                        '19.06.2020',
                        '20.06.2020'
                    ],
                    legend: [
                        {
                            name: 'Поступило',
                            type: 'bar'
                        },
                        {
                            name: 'Предельная емкость АКЦ Контракт сервис',
                            type: 'line'
                        }
                    ],
                    value: [[20,15,17,18,16,54,35,26,0,0,1,2,65,43,10,21,9,6,17,0,],
                    [1,2,65,43,10,21,9,6,17,0, 20,15,17,18,16,54,35,26,0,0]]
                },

            ColorBar: ['#74C3FF'],
            ColorLine: ['#FF7474'],
            initOptions: {
            renderer: options.renderer || 'canvas'
            },
            BarGraph: {
            tooltip: {
                trigger: 'axis',
                showContent: true
            },
            legend: {
                    type: 'scroll',
                    bottom: '7%',
                    left: '3.5%',
                    right: '3.5%',
                    textStyle: {
                        color: "#101B21" ,
                        fontStyle: 'normal' ,
                        fontWeight: 'normal' ,
                        fontFamily: 'Segoe UI' ,
                        fontSize: 12 ,
                        lineHeight: 14,
                        padding: [0, 10, 0, 0],
                    },
            },
            grid: {
                top: '7%',
                left: '4%',
                right: '4%',
                bottom: '18%',
                containLabel: true
            },
            xAxis: 
                {
                    data: [],
                    axisLine: {show: false},
                    axisTick: {show: false},
                    axisLabel: {
                        color: "#101B21" ,
                        fontStyle: 'normal' ,
                        fontWeight: 'normal' ,
                        fontFamily: 'Segoe UI' ,
                        fontSize: 12 ,
                        lineHeight: 18,
                    }
                },
            yAxis: {
                    gridIndex: 0,
                    axisLine: {show: false},
                    axisTick: {show: false},
                    axisLabel: {
                        show: true,
                        color: "#101B21" ,
                        fontStyle: 'normal' ,
                        fontWeight: 'normal' ,
                        fontFamily: 'Segoe UI' ,
                        fontSize: 12 ,
                        lineHeight: 18,
                    }
            },
            series: [],
            animationDuration: 1000
            },
        }
    }
}
</script>
<style lang="scss" scoped>
  .echarts {
    width: 100%;
    min-height:440px;
    max-height: 440px;
  }
  .colblock_header {
    display: flex;
    flex-wrap: wrap;
    padding: 1.75rem 1.56rem .5rem 1.75rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
    & h2 {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.28rem;
        color: #101B21;
    }
}
</style>