<template>
    <div>
        <div class="colblock_header">
            <h2>
                <slot></slot>
            </h2>
            <div class="colblock_line_motp">
                <p>линия "МОТП"</p> 
                <span>{{dataSet.motp}}%</span>
                <div></div>
            </div>
        </div>
        <v-chart
            :options="lineGraph"
            :init-options="initOptions"
            autoresize
        />
    </div>
</template>

<script>
  import qs from 'qs'
  import ECharts from 'vue-echarts'
  import 'echarts/lib/chart/bar'
  import 'echarts/lib/component/tooltip'
  import 'echarts/lib/chart/line'
  import 'echarts/lib/component/polar'
  import 'echarts-gl'
  import 'zrender/lib/svg/svg';
  export default {
    components: {
      'v-chart': ECharts
    },
    mounted(){
        // this.DataSelect()
        this.chartsLine()
    },
    // computed:{
    //     AVG_CALLS_TIME(){
    //         return this.$store.getters['statistics/AVG_CALLS_TIME']
    //     }
    // },
    watch: {
        // AVG_CALLS_TIME(){
        //     this.chartsLine()
        // },
        connected: {
            handler(value) {
                ECharts[value ? 'connect' : 'disconnect']('radiance')
            },
            immediate: true
        },
        'initOptions.renderer'(value) {
            this.options.renderer = value === 'svg' ? value : undefined;
            let query = qs.stringify(this.options);
            query = query ? ('?' + query) : '';
            history.pushState({}, document.title, `${location.origin}${location.pathname}${query}${location.hash}`)
        }
    },
    methods: {
        toggleRenderer() {
            if (this.initOptions.renderer === 'canvas') {
                this.initOptions.renderer = 'svg'
            } else {
                this.initOptions.renderer = 'canvas'
            }
        },
        // async DataSelect(){
        //     if(this.$store.getters['statistics/AVG_CALLS_TIME'].length==0){
        //         await  this.$store.dispatch('statistics/fetch', this.$store.getters['statistics/STATISTICS_URL'][7])
        //     }
        // },
        chartsLine(){
            let  monthsData=[],Series=[]
            let i=0
            let graphApp = this.dataSet //$store.getters['statistics/AVG_CALLS_TIME']

            let minTime = new Date;
            minTime.setHours(0, 23, 59, 59);
            
            let maxTime = new Date
            maxTime.setHours(0, 0, 0, 0);

            for(let item in graphApp.legend){
                let LineValue=[]
                for(let index of graphApp.value[item]){
                    let time = [] 
                    if(index==0)
                        time = [0,0,0]
                    else
                        time = index.split(':')
                    let today = new Date;
                    today.setHours(time[0], time[1],time[2], 0);

                    if(today>maxTime){
                        maxTime = today
                    }
                    if(today < minTime){
                        minTime = today
                    }
                    LineValue.push(today)
                }
                Series.push({
                    name: graphApp.legend[item].name,
                    type: 'line',
                    data: LineValue,
                    smooth: true,
                    symbol: false,
                    symbolSize: 'none',
                    lineStyle:{
                        width: 3,
                    },
                    label: {  normal: {
                                show: true,
                                backgroundColor: '#ffffff',
                                color: "#101B21" ,
                                fontStyle: 'normal' ,
                                fontWeight: 'bold' ,
                                fontFamily: 'Segoe UI' ,
                                fontSize: 12 ,
                                lineHeight: 18,
                                formatter: function (value) {
                                    let formatTime = value.data.toTimeString().slice(0,8)
                                    return formatTime
                                }
                            }
                    },
                    color: this.colorGrap[i]
                })
                i++
            }            
            this.lineGraph.yAxis.max = maxTime
            this.lineGraph.yAxis.min = minTime

            this.lineGraph.xAxis.data = graphApp.date
            this.lineGraph.series = Series 
            let formatter = function formatter(List){
                let arr = `${List[0].name} <br>`
                for(let item of List){
                    arr+= [item.marker, item.seriesName + ': ', item.data.toTimeString().slice(3,8), '<br>'].join('')
                }
                return arr
          }
          this.lineGraph.tooltip.formatter = formatter
        }
    },
    data() {
        let options = qs.parse(location.search, {ignoreQueryPrefix: true});
      return {
        colorGrap: ['#74C3FF'],
        initOptions: {
          renderer: options.renderer || 'canvas'
        },
        dataSet: {
            date:[
                '01.06.2020',
                '02.06.2020',
                '03.06.2020',
                '04.06.2020',
                '05.06.2020',
                '06.06.2020',
                '07.06.2020'
            ],
            legend: [
                {
                    name: 'Среднее время ожидания в очереди, сек.',
                    type: 'line'
                }
            ],
            value: [
                ['09:01:00','01:00:01','00:01:00','00:23:50','00:45:05','00:05:00','01:05:00']
                ],
            motp: 28
        },
        lineGraph: {
            tooltip: {
                trigger: 'axis',
                showContent: true,
                position: function (pos, params, dom, rect, size) {
                            let obj = {top: 30};
                            obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 70;
                            return obj;
                }
            },
            legend: {
                type: 'scroll',
                bottom: '7%',
                left: '3.5%',
                right: '3.5%',
                icon: 'rect',
                itemHeight: 3,
                textStyle: {
                    color: "#101B21" ,
                    fontStyle: 'normal' ,
                    fontWeight: 'normal' ,
                    fontFamily: 'Segoe UI' ,
                    fontSize: 12 ,
                    lineHeight: 18,
                    padding: [0, 30, 0, 5]
                }
          },
          grid: {
            top: '10%',
            left: '4%',
            right: '4%',
            bottom: '18%',
            containLabel: true
          },
          xAxis: 
            {
                data: [],
                axisLine: {show: false},
                axisTick: {show: false},
                axisLabel: {
                    color: "#101B21" ,
                    fontStyle: 'normal' ,
                    fontWeight: 'normal' ,
                    fontFamily: 'Segoe UI' ,
                    fontSize: 12 ,
                    lineHeight: 18,
                    formatter: function (value) {
                        return value.slice(0,5)
                    },  
                },
            },
          yAxis: {
            gridIndex: 0,
            type : 'time',
            axisLine: {show: false},
            axisTick: {show: false},
            axisLabel: {
                color: "#101B21" ,
                fontStyle: 'normal' ,
                fontWeight: 'normal' ,
                fontFamily: 'Segoe UI' ,
                fontSize: 12 ,
                lineHeight: 18,
                formatter: function (value) {
                    let formatTime = new Date(value).toTimeString().slice(0,8)
                    return formatTime
                },  
            }
          },
          series: [],
          animationDuration: 1000
        },
      }
    }
  }
</script>
<style lang="scss" scoped>
  .echarts {
    width: 100%;
    min-height:435px;
    max-height: 440px;
  }
  .colblock_header {
    display: flex;
    flex-wrap: wrap;
    padding: 1.75rem 1.56rem .5rem 1.75rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
    & h2 {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.28rem;
        color: #101B21;
    }
}
.colblock_line_motp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & p{
        font-size: 1rem;
        line-height: 1.14rem;
        color: #101B21;
    }
    & span{
        font-weight: 600;
        font-size: 1.286rem;
        line-height: 100%;
        text-align: right;
        color: #101B21;
        padding: 0 .57rem 0 .928rem;
    }
    & div{
        width: 1.7rem;
        height: 1.7rem;
        background: url('../../assets/img/mopt.svg') center center no-repeat;
        background-size: .81rem;
        background-color: rgba(19, 164, 94, 0.05);
        border-radius: 50%;
    }
}
</style>
