<template>
    <div class="colblock_body">
        <div class="colblock_header">
            <h2>
                <slot></slot>
            </h2>
            <div @mouseleave="liveFilterMove" class="wrapper-filter">
                  <p @click="enterFilterMove" class="filter-title">{{titleFilter}}</p>
                  <div v-if="filterList" class="filter-list">
                    <!-- <p class="filter-link" @click="onClick('Все товарные группы','all')">Все товарные группы</p> -->
                    <p class="filter-link"
                      v-for="items in ListData"
                      :key="items.url"
                      @click="onClick(items)"
                    >
                      {{ items.name }}
                    </p>
                  </div>
              </div> 
        </div>
        <v-chart
            :options="BarGraph"
            :init-options="initOptions"
            autoresize
        />
    </div>
</template>

<script>
  import qs from 'qs'
  import ECharts from 'vue-echarts'
  import 'echarts/lib/chart/bar'
  import 'echarts/lib/component/tooltip'
  import 'echarts/lib/chart/line'
  import 'echarts/lib/component/polar'
  import 'echarts-gl'
  import 'zrender/lib/svg/svg';
  export default {
    components: {
      'v-chart': ECharts
    },
    mounted(){
        this.chartsBar()
        // this.DataSelect()
    },
    // computed:{
    //   ANALYSIS_RECEIVED_REQUESTS(){
    //     return this.$store.getters['statistics/ANALYSIS_RECEIVED_REQUESTS']
    //   }
    // },
    watch: {
    //   ANALYSIS_RECEIVED_REQUESTS(){
    //     this.chartsBar()
    //   },
      connected: {
        handler(value) {
          ECharts[value ? 'connect' : 'disconnect']('radiance')
        },
        immediate: true
      },
      'initOptions.renderer'(value) {
        this.options.renderer = value === 'svg' ? value : undefined;
        let query = qs.stringify(this.options);
        query = query ? ('?' + query) : '';
        history.pushState({}, document.title, `${location.origin}${location.pathname}${query}${location.hash}`)
      }
    },
    methods: {
        enterFilterMove() {
            this.filterList = true
        },
        liveFilterMove() {
            this.filterList = false
        },
        onClick(event) {
            if(this.titleFilter!=event.name){
                this.titleFilter = event.name
                this.$store.dispatch('statistics/fetchCall', event.url)
            }
        },
        toggleRenderer() {
            if (this.initOptions.renderer === 'canvas') {
            this.initOptions.renderer = 'svg'
            } else {
            this.initOptions.renderer = 'canvas'
            }
        },
        // async DataSelect(){
        //     if(this.$store.getters['statistics/ANALYSIS_RECEIVED_REQUESTS'].length==0){
        //         await  this.$store.dispatch('statistics/fetch', this.$store.getters['statistics/STATISTICS_URL'][4])
        //     }
        // },
        chartsBar(){
            let Series=[], NameGrup=[], legendData=[]
            let grafData = this.dataSet//this.$store.getters['statistics/ANALYSIS_RECEIVED_REQUESTS']
            let i = 0, j = 0
            for(let item in grafData.legend){
                    Series.push({
                            name: grafData.legend[item].name,
                            type: 'line',
                            data: grafData.value[item],
                            smooth: false,
                            // symbol: 'circle',
                            symbolSize : 10,
                            // symbolSize: 1,
                            label: {  
                                normal: {
                                show: true,
                                position: 'top',//inside
                                backgroundColor: '#ffffff',
                                color: "#101B21" ,
                                fontStyle: 'normal' ,
                                fontWeight: 'bold' ,
                                fontFamily: 'Segoe UI' ,
                                fontSize: 12 ,
                                lineHeight: 18,
                                padding: [1,5]
                                }
                            },
                            lineStyle: {
                                width: 3,
                            },
                            color: this.Color[i]
                        })
                        legendData.push({
                            name: grafData.legend[item].name,
                            icon: 'path://M37.059,16H26H16H4.941C2.224,16,0,18.282,0,21s2.224,5,4.941,5H16h10h11.059C39.776,26,42,23.718,42,21  S39.776,16,37.059,16z',
                        });
                        i++
            }
            this.BarGraph.legend.data = legendData
            this.BarGraph.xAxis.data = grafData.date
            this.BarGraph.series = Series 
        }
    },
    data() {
        let options = qs.parse(location.search, {ignoreQueryPrefix: true});        
        return {
            titleFilter: 'Все товарные группы',
            filterList: false,
            ListData: [
                {
                    name: 'Все товарные группы',
                    url: 'all'
                },
                {
                    name:'общие данные КЦ', 
                    url: 'kv-general-data'
                },
                { 
                    nListDataame:'Фарма', 
                    url: 'pharma'
                },
                {
                    name:'РВ', 
                    url: 'pv'
                },
                {
                    name:'Меха', 
                    url: 'furs'
                },
                {
                    name:'Лег.Пром+обувь', 
                    url: 'lprom'
                },
                {
                    name:'Молоко', 
                    url: 'milk'
                },
                {
                    name:'Табак', 
                    url: 'tobacco'
                }
            ],

            dataSet: 
                {
                    date:[
                        '01.06.2020',
                        '02.06.2020',
                        '03.06.2020',
                        '04.06.2020',
                        '05.06.2020',
                        '06.06.2020',
                        '07.06.2020',
                        '08.06.2020',
                        '09.06.2020',
                        '10.06.2020',
                        '11.06.2020',
                        '12.06.2020',
                        '13.06.2020',
                        '14.06.2020',
                        '15.06.2020',
                        '16.06.2020',
                        '17.06.2020',
                        '18.06.2020',
                        '19.06.2020',
                        '20.06.2020'
                    ],
                    legend: [
                        {
                            name: 'Входящие звонки АКЦ',
                            type: 'line'
                        },
                        {
                            name: 'Входящие звонки КЦ',
                            type: 'line'
                        },
                        {
                            name: 'Входящие звонки КЦ + АКЦ',
                            type: 'line'
                        }
                    ],
                    value: [[20,15,17,18,16,54,35,26,0,0,1,2,65,43,10,21,9,6,17,0,],
                    [1,2,65,43,10,21,9,6,17,0, 20,15,17,18,16,54,35,26,0,0],
                    [9,1,4,12,11,15,45,31,19,54,90,10,0,0,0,87,9,32,61,17]]
                },

            Color: ['#D4E1FE','#FFE8D6','#128E87'],
            initOptions: {
            renderer: options.renderer || 'canvas'
            },
            BarGraph: {
            tooltip: {
                trigger: 'axis',
                showContent: true
            },
            legend: {
                    type: 'scroll',
                    bottom: '7%',
                    left: '3.5%',
                    right: '3.5%',
                    data: [],
                    // icon: 'path://M10 10 H 90 V 90 H 10 L 10 10',
                    textStyle: {
                        color: "#101B21" ,
                        fontStyle: 'normal' ,
                        fontWeight: 'normal' ,
                        fontFamily: 'Segoe UI' ,
                        fontSize: 12 ,
                        lineHeight: 14,
                        padding: [0, 10, 0, 0],
                    },                 
            },
            grid: {
                top: '7%',
                left: '4%',
                right: '4%',
                bottom: '18%',
                containLabel: true
            },
            xAxis: 
                {
                    data: [],
                    axisLine: {show: false},
                    axisTick: {show: false},
                    axisLabel: {
                        color: "#101B21" ,
                        fontStyle: 'normal' ,
                        fontWeight: 'normal' ,
                        fontFamily: 'Segoe UI' ,
                        fontSize: 12 ,
                        lineHeight: 18,
                    }
                },
            yAxis: {
                    gridIndex: 0,
                    axisLine: {show: false},
                    axisTick: {show: false},
                    axisLabel: {
                        show: true,
                        color: "#101B21" ,
                        fontStyle: 'normal' ,
                        fontWeight: 'normal' ,
                        fontFamily: 'Segoe UI' ,
                        fontSize: 12 ,
                        lineHeight: 18,
                    }
            },
            series: [],
            animationDuration: 1000
            },
        }
    }
}
</script>
<style lang="scss" scoped>
  .echarts {
    width: 100%;
    min-height:430px;
    max-height: 440px;
  }
  .colblock_header {
    display: flex;
    flex-wrap: wrap;
    padding: 1.75rem 1.56rem .5rem 1.75rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
    & h2 {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.28rem;
        color: #101B21;
    }
}

.wrapper-filter {
    font-family:'Segoe UI';
    font-style: normal;
    font-weight: normal;
    font-size: .875rem;
    line-height: .875rem;
    color: #101B21;
    position: relative;
    background: transparent;
    z-index: 10000;
}
.filter-title {
    width: 16.563rem;
    border: 1px solid #E8E8E8;
    border-radius: .5rem;
    padding: .688rem 1.25rem .94rem 1.25rem;
    cursor: pointer;
    background: url('~assets/img/filter_list.svg') 94% 50% no-repeat;
    background-size: .625rem .375rem;
    background-color: #ffffff;

}
.filter-list {
    width: 100%;
    background: #fff;
    border: 1px solid #E8E8E8;
    border-radius: .5rem;
    position: absolute;
}
.filter-link {
    padding: .6rem 1.25rem .9rem 1.25rem;
    cursor: pointer;
}
.filter-link:hover{
    background:  #E8E8E8;
}
.filter-link:first-child{
    border-radius: .5rem .5rem 0 0 ;
}
.filter-link:last-child{
    border-radius: 0 0 .5rem .5rem;
}
  
</style>
