<template>
    <div>
        <TgDailyCalls class="colblock">Поступившие звонки в разрезе ТГ, шт</TgDailyCalls>
        <TgDailyCalls class="colblock">Зарегистрированные обращения в разрезе ТГ, шт</TgDailyCalls>
    </div>
</template>
<script>
import TgDailyCalls from './analysis/TgDailyCalls'

export default {
    components:{
        TgDailyCalls
    },
    data(){
        return{
            colorGrap: ['#9382EA', '#FFB87A'],
        }
    },
}
</script>
<style lang="scss" scoped>
.colblock {
    position: relative;
    width: 100%;
    margin-bottom: 1.92rem;
    padding: 0;
    background: #FFFDFD;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: .87rem;
}
</style>
