<template>
    <div>
        <TgReceivedRequests class="colblock">Анализ поступивших обращений, шт</TgReceivedRequests>
    </div>
</template>
<script>
import TgReceivedRequests from './analysis/TgReceivedRequests'

export default {
    components:{
        TgReceivedRequests
    },

    data(){
        return{
            colorGrap: ['#9382EA', '#FFB87A'],
        }
    },

}
</script>
<style lang="scss" scoped>
.colblock {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #FFFDFD;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: .87rem;
}
</style>
