<template>
    <grid-layout
    :layout.sync="financeLayout"
    :col-num="12"
    :row-height="42"
    :is-draggable="false"
    :is-resizable="false"
    :is-mirrored="false"
    :vertical-compact="true"
    :margin="[14, 14]"
    :use-css-transforms="true"
    :responsive="true"
    :autoSize="true"
    :breakpoints="{ lg: 1200, md: 996, sm: 768, xs: 480, xxs: 0 }"
    :cols="{ lg: 12, md: 12, sm: 2 , xs: 2, xxs: 2 }"
    class="grid-block"
    >
    <grid-item class="colblock appeal" v-for="item in financeLayout"
                :x="item.x"
                :y="item.y"
                :w="item.w"
                :h="item.h"
                :i="item.i"
                :min-w="item.minW"
                :min-h="item.minH"
                :max-h="item.maxH"
                :key="item.i"
    >   
        <AnalysisReceivedRequests v-if="item.i==0">Анализ поступивших обращений, шт</AnalysisReceivedRequests>
        
        <AnalysisReceivedRequests v-else-if="item.i==1">Поступившие обращения (звонки и письменные КЦ + АКЦ), шт</AnalysisReceivedRequests>
        
        <ComparisonReceivedRequests v-else-if="item.i==2">Сравнение поступивших обращений и пропускной ёмкости КЦ, шт</ComparisonReceivedRequests>
        
        <AverageTimeCalls v-else-if="item.i==3">Среднее время звонков, мин</AverageTimeCalls>
        <AverageWaitingTime v-else-if="item.i==4">Среднее время ожидания в очереди, мин</AverageWaitingTime>

        <NumberOutgoingCalls v-else-if="item.i==5" :colorGrap="colorGrap[0]">Количество исходящих вызовов, шт</NumberOutgoingCalls>
        <NumberOutgoingCalls v-else-if="item.i==6" :colorGrap="colorGrap[1]">Процент потерянных звонков, %</NumberOutgoingCalls>

        <AnalysisIncomingCalls v-else-if="item.i==7" >Анализ поступивших звонков на Горячую линию ФОИВ/РОИВ</AnalysisIncomingCalls>
    </grid-item>
    </grid-layout>
</template>
<script>
import VueGridLayout from 'vue-grid-layout'
import AnalysisReceivedRequests from './analysis/AnalysisReceivedRequests'
import ComparisonReceivedRequests from './analysis/ComparisonReceivedRequests'
import AverageTimeCalls from './analysis/AverageTimeCalls'
import AverageWaitingTime from './analysis/AverageWaitingTime'
import NumberOutgoingCalls from './analysis/NumberOutgoingCalls'
import AnalysisIncomingCalls from './analysis/AnalysisIncomingCalls'

export default {
    components:{
        GridLayout: VueGridLayout.GridLayout,
        GridItem: VueGridLayout.GridItem,
        AnalysisReceivedRequests,
        ComparisonReceivedRequests,
        AverageTimeCalls,
        AverageWaitingTime,
        NumberOutgoingCalls,
        AnalysisIncomingCalls
    },
    data(){
        return{
            colorGrap: ['#9382EA', '#FFB87A'],
            financeLayout: [
                {
                    "x": 0,
                    "y": 0,
                    "w": 12,
                    "h": 8.9,
                    i: 0,
                    "minH": 8.9,
                    "maxH": 8.9,
                    "minW": 12,
                    "maxW": 12,
                    "sourceDataMain": 0,
                    "sourceData": 0
                },
                {
                    "x": 0,
                    "y": 8,
                    "w": 12,
                    "h": 8.9,
                    i: 1,
                    "minH": 8.9,
                    "maxH": 8.9,
                    "minW": 12,
                    "maxW": 12,
                    "sourceDataMain": 0,
                    "sourceData": 0
                },
                {
                    "x": 0,
                    "y": 16,
                    "w": 12,
                    "h": 8.9,
                    i: 2,
                    "minH": 8.9,
                    "maxH": 8.9,
                    "minW": 12,
                    "maxW": 12,
                    "sourceDataMain": 0,
                    "sourceData": 0
                },
                {
                    "x": 0,
                    "y": 24,
                    "w": 6,
                    "h": 8.9,
                    i: 3,
                    "minH": 8.9,
                    "maxH": 8.9,
                    "minW": 6,
                    "maxW": 6,
                    "sourceDataMain": 0,
                    "sourceData": 0
                },
                {
                    "x": 6,
                    "y": 24,
                    "w": 6,
                    "h": 8.9,
                    i: 4,
                    "minH": 8.9,
                    "maxH": 8.9,
                    "minW": 6,
                    "maxW": 6,
                    "sourceDataMain": 0,
                    "sourceData": 0
                },
                {
                    "x": 0,
                    "y": 32,
                    "w": 6,
                    "h": 8.9,
                    i: 5,
                    "minH": 8.9,
                    "maxH": 8.9,
                    "minW": 6,
                    "maxW": 6,
                    "sourceDataMain": 0,
                    "sourceData": 0
                },
                {
                    "x": 6,
                    "y": 32,
                    "w": 6,
                    "h": 8.9,
                    i: 6,
                    "minH": 8.9,
                    "maxH": 8.9,
                    "minW": 6,
                    "maxW": 6,
                    "sourceDataMain": 0,
                    "sourceData": 0
                },
                {
                    "x": 0,
                    "y": 40,
                    "w": 6,
                    "h": 8.9,
                    i: 7,
                    "minH": 8.9,
                    "maxH": 8.9,
                    "minW": 6,
                    "maxW": 6,
                    "sourceDataMain": 0,
                    "sourceData": 0
                },
            ]
        }
    },

}
</script>
<style lang="scss" scoped>
.grid-block{
    margin: -14px;
}
.colblock {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #FFFDFD;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: .87rem;
}

</style>
