<template>
    <div class="grid-colblock">
        <h4 class="title-statistics">Общие + телефония</h4>
        <GeneralTelephony/>
        <div class="filter-title_block">
            <h4 class="title-statistics">Диаграмма письменных обращений и ТГ</h4>
            <div class="filter_button-block">
                <p>Анализ обращений</p>
                <p>Сравнение обращений</p>
            </div>
        </div>
        <DiagramWrittenRequests/>
        <h4 class="title-statistics">Поступившие обращения по всем каналом связи в разрезе сервисных договоров</h4>
        <DiagramWrittenRequests/>
        <h4 class="title-statistics">Диаграмма ежедневные (общие)</h4>
        <DailyChart/>
    </div>
</template>
<script>
import GeneralTelephony from '@/components/GeneralTelephony'
import DiagramWrittenRequests from '@/components/DiagramWrittenRequests'
import DailyChart from '@/components/DailyChart'

export default {
    components:{
        GeneralTelephony,
        DiagramWrittenRequests
    },
    // fetch({store}){
    //     if(store.getters['statistics/TIME_NUMBER_CALLS'].length==0){
    //         store.dispatch('statistics/fetchCall')
    //     }
    // },
    computed: {
        // isDragg() {
        //     return this.$store.getters['layout/DRAGGABLE']
        // },
    },
}
</script>
<style lang="scss">
.grid-colblock{
    margin: 2.42rem;
}
.title-statistics{
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
    color: #101B21;
    margin: 2.14rem 0;//1.3rem
}
.filter-title_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.filter_button-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2.14rem 0;
    & p{
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1rem;
        color: #101B21;
        padding: .86rem .928rem 1rem .928rem;
        border: 1px solid #E8E8E8;
        box-sizing: border-box;
    }
    & p:nth-child(1){
        background: #ffffff;
        border-radius: .57rem 0 0 .57rem;
        border-right: none;
    }
    & p:nth-child(2){
        border-radius: 0 .57rem .57rem 0;
    }
}
</style>
